.card{
    border: 1px solid rgb(244, 93, 93);
    width: 360px;
    height: 500px;
    list-style: none;
    padding: 10px;
    overflow: hidden;
    margin: 8px;
    text-align: center;
    border-radius : 10px;
    
    

    li {
        list-style: none;
    }

    img{
        width: 300px;
        height: 200px ;
        object-fit: cover;
        border-radius: 5px;
        margin: 10px;
        
    }
    p{
        width: 300px;
        text-align: center;
        margin: auto;
        
        
        
    }
}